.header__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  margin: 0;
  font-weight: normal;
  display: inline-block;
  color: #333;
}

.header-title__second {
  font-weight: bold;
  text-transform: uppercase;
}

.header-title__special {
  font-size: .9em;
  font-family: 'PT Mono', monospace;
  color: red;
}

@media (prefers-color-scheme: dark) {
  .header__title {
    color: #fff;
  }

  .header-title__special {
    color: #ff6c6c;
  }
}
