.home {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home::after {
  content: ' ';
  display: block;
  z-index: -1;
  background: url('/images/background.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.3;
  width: 100%;
  height: calc(100vh - 60px);
  position: absolute;
}

.home__content {
  flex: 0 0;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  color: #000;
  padding: 0 10%;
}

.home__title {
  font-size: 2.2em;
}

.home-title__special {
  font-size: .9em;
  font-family: 'PT Mono', monospace;
  color: red;
}

.home__text {
 font-size: 1.4em;
}

.home__extra-text {
    color: #666;
}
