@import url("https://fonts.googleapis.com/css?family=Roboto:400,700|Montserrat:400,700|PT+Mono:300");
@import "variables.scss";

*,
:before,
:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Roboto", sans-serif;
  color: $lt-primary-color;
}

header {
  padding: 15px 15px 1px 15px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  min-height: 60px;
  background: $lt-bg-color;
  box-shadow: 0 0 0.5rem rgba(83, 78, 76, 0.5);
  z-index: 1;
}

.grafico {
  height: 400px;
}

.paises {
  float: right;
}

.top-container {
  padding: 15px;
}

.contenido {
  padding: 15px;
}

.content {
  padding: 0;
}

.container {
  margin: 0 auto;
  overflow: hidden;
}

#menuToggle {
  float: left;
  width: 50px;
  display: block;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #000;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 300px;
  margin: 25px 0 0 -50px;
  padding: 50px;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  background: $lt-bg-color;
}

#menu li {
  padding: 10px 0;
  font-size: 18px;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: $dt-bg-color;
    color: $dt-primary-color;
  }

  header {
    background-color: $dt-bg-color;
    color: $dt-primary-color;
  }

  a {
    color: $dt-ref-color;
  }
  img {
    filter: grayscale(30%);
  }

  text {
    fill: $dt-primary-color !important;
  }
}

@media only screen and (max-width: 600px) {
  header {
    min-height: 120px;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
