.section {
  margin-top: 30px;
  border-top: 1px solid #666;
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}

.section::before {
  content: ' ';
  border-top: 1px solid #666;
  width: 100%;
  height: 5px;
  display: block;
  margin-top: 3px;
  padding-top: 30px;
}

.section:first-child, .section:first-child::before {
  border-top: 0;
}

@media (prefers-color-scheme: dark) {
  .section:first-child, .section:first-child::before {
    border-top-color: #eee
  }
}
