.section {
  margin-top: 30px;
  border-top: 1px solid #666;
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}

.section::before {
  content: ' ';
  border-top: 1px solid #666;
  width: 100%;
  height: 5px;
  display: block;
  margin-top: 3px;
  padding-top: 30px;
}

.section:first-child, .section:first-child::before {
  border-top: 0;
}

.section__title {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #222;
  margin-bottom: 0;
}

.section__subtitle {
  font-family: 'Montserrat', sans-serif;
  color: #222;
  margin-top: 0;
  margin-bottom: 5px;
}

@media (prefers-color-scheme: dark) {
  .section:first-child, .section:first-child::before {
    border-top-color: #eee
  }

  .section__title, .section__subtitle {
    color: #e4e4e4;
  }
}
