// Light-Theme
//// App
$lt-primary-color: #666;
$lt-bg-color: #f6f9f8;

//// Section
$lt-title-color: #222;
$lt-border-color: #666;

// DarkTheme
//// App
$dt-primary-color: #e4e4e4;
$dt-bg-color: #444;
$dt-ref-color: #e39777;

//// Section
$dt-title-color: #f4f4f4;
$dt-border-color: #eee;
