.footer {
  background: #f1f1f1;
  text-align: center;
  padding: 15px;
  color: #666;
}

.footer__resources {
  list-style-type: none;
}

.footer a {
  color: #333;
}

@media (prefers-color-scheme: dark) {
  .footer {
    background-color: #333;
    color: #ddd;
  }

  .footer a {
    color: #fff;
  }
}
